// generar clases de colores
@each $name, $color in $colors {
	// colores
	.color-#{$name} {
		color: $color;
	}

	// bordes
	.border-#{$name} {
		border-color: $color;
	}

	// fondos planos
	.bg-#{$name} {
		background-color: $color;
	}

	// fondos con gradientes
	.gradient-#{$name} {
		background: $color;
		background: -moz-linear-gradient(-45deg, $color 0%, secondary($name) 27%, $color 100%);
		background: -webkit-gradient(left top, right bottom, color-stop(0%, $color), color-stop(27%, secondary($name)), color-stop(100%, $color));
		background: -webkit-linear-gradient(-45deg, $color 0%, secondary($name) 27%, $color 100%);
		background: -o-linear-gradient(-45deg, $color 0%, secondary($name) 27%, $color 100%);
		background: -ms-linear-gradient(-45deg, $color 0%, secondary($name) 27%, $color 100%);
		background: linear-gradient(135deg, $color 0%, secondary($name) 27%, $color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$color}', endColorstr='#{$color}', GradientType=1 );
	}
}


