.countdown {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 70px;
	height: 70px;
}
.countdown-spinner {
	animation: rotation 2s infinite linear;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
.countdown-seconds {
	position: relative;
	z-index: 2;
	font-size: 36px;
	line-height: 36px;
	font-family: $font-june;
}