// Tipgrafias

@font-face {
	font-family: 'Anja Eliane';
	src: url('./assets/fonts/AnjaElianeNornal.eot');
	src: url('./assets/fonts/AnjaElianeNornal.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/AnjaElianeNornal.woff2') format('woff2'),
		url('./assets/fonts/AnjaElianeNornal.woff') format('woff'),
		url('./assets/fonts/AnjaElianeNornal.ttf') format('truetype'),
		url('./assets/fonts/AnjaElianeNornal.svg#AnjaElianeNornal') format('svg');
	font-weight: normal;
	font-style: normal;
}
$font-anja: 'Anja Eliane';

@font-face {
	font-family: 'Junegull';
	src: url('./assets/fonts/Junegull-Regular.eot');
	src: url('./assets/fonts/Junegull-Regular.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/Junegull-Regular.woff2') format('woff2'),
		url('./assets/fonts/Junegull-Regular.woff') format('woff'),
		url('./assets/fonts/Junegull-Regular.ttf') format('truetype'),
		url('./assets/fonts/Junegull-Regular.svg#Junegull-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
$font-june: 'Junegull';


@font-face {
	font-family: 'Futura LT';
	src: url('./assets/fonts/FuturaLT.eot');
	src: url('./assets/fonts/FuturaLT.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/FuturaLT.woff2') format('woff2'),
		url('./assets/fonts/FuturaLT.woff') format('woff'),
		url('./assets/fonts/FuturaLT.ttf') format('truetype'),
		url('./assets/fonts/FuturaLT.svg#FuturaLT') format('svg');
	font-weight: 500;
	font-style: normal;
}
$font-futura: 'Futura LT';

.puffy-text, h1 {
	@include stroke(5, color('white'));
	font-family: $font-anja;
	font-size: 40px;
	line-height: 40px;
}

p {
  font-family: 'Helvetica', sans-serif;
  	font-size: 2rem;
  	line-height: 2.5rem;
	margin: 5% 0;
	color: color('white');
	strong {
		font-weight: 900;
	}
}
