// Contenedores
html, body, #app, #app > .container, .home {
  min-height: 100vh;
}
#app > .container {
  display: flex;
}
body {
  padding-bottom: 15px;
  font: Helvetica, calibri, arial, sans-serif;
  font-size: 14px;
  line-height: 14px;
  background-color: color('white');
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contenedor {
  flex: 1;
  border-radius: 10px;
  align-items: center;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  color: color('white');
  width: 98%;
  margin: 0 auto 15px auto;
  transition: background .3s ease;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'Anja Eliane', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

h1 {
  font-size: 4rem;
  @include stroke(4, color('white'));
}


.point-counter {
  font-family: 'Junegull';
  font-size: 3rem;
  color: color('turq');
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.letter {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: color('white');
  display: inline;
  width: 20px;
  margin-right: 10px;
  .done {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
  }
  .notdone {
    border-bottom: 4px solid color('white');
  }
}
.point-counter {
  font-family: 'Junegull';
  font-size: 3rem;
  color: color('turq');
}

.timer-countdown {
  color: color('turq');
  font-size: 4rem;
  position: relative;
  bottom: 63px;
}

// Botones
.button {
	text-align: center;
	padding: 15px;
	border-radius: 30px;
	border: solid 4px color('white');
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	min-width: 250px;
	font-size: 18px;
	background-color: transparent;
	color: color('white');
  font-family: 'Helvetica', 'Arial', sans-serif;
  cursor: pointer;
	&:hover, &:focus, &:active, &:visited {
		color: color('white');
		text-transform: uppercase;
    text-decoration: none;
	}
}
