header {
	min-height: 70px;
	position: relative;
}
.navbar-default .navbar-nav > li > a {
  color: color('turq'); 
  display: inline-block;
  line-height: 60px;
}
.navbar-default { 
  background-color: color('white');
  border: none;
  margin-bottom: 0;
	display: none;
}
.premios {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 900;
}
.header-sponsors {
	position: absolute;
	left: 0;
	top: 0;
	list-style: none;
	text-align: left;
	&, & > li, & > li > a {
		padding: 0;
		margin: 0;
		display: inline-block;
	}
}
.header-sponsors-nova, .header-sponsors-teleton {
	max-width: 100px;
	display: inline-block;
}

.navbar-toggle {
	position: absolute;
	right: 15px;
	top: 25px;
	margin: 0;
	border: none;
	padding: 0;
	box-shadow: none;
	background-color: transparent;
	.icon-bar {
		width: 30px;
		height: 4px;
		border-radius: 4px;
		transition: background-color .2s ease;
	}
	&:not(.is-toggled) {
		.icon-bar {
			background-color: color('light-gray')
		}
	}

}
.navbar-collapse {
	position: absolute;
	right: 0;
	top: 70px;
	background: color('white');
	width: 100%;
}
.header-points {
	position: absolute;
	top: 20px;
	right: 0;
}
.header-countdown {
	position: absolute;
	top: 15px;
	left: 0;
}

@media (min-width: $screen-sm-min) {

	.header-logo-nova, .header-logo-teleton {
		max-width: 180px;
	}
}