.page-ganaste {
	.puffy-text {
	  font-size: 4rem;
	  color: color('orange');
	}
	.button {
	  background-color: color('pink');
	  margin-bottom: 20px;
	}
	.btn-orange {
		background-color: color('orange');
	}
	.rollo-win {
		height: 115px;
		display: inline-block;
		float: left;
		margin-top: 20px;
	}
}


/* Extra Small Devices, Phones */
    @media only screen and (max-width : 991px) {
			.page-ganaste {
				.button {
					font-size: 3.25rem;
					width: 90%;
					height: 100px;
					border-radius: 100px;
					border: 8px solid color('white');
				}
				.rollo-der {
					background: url('./assets/img/rollo_nova_right.png') no-repeat center;
					background-size: contain;
				}
				.rollo-izq {
					background: url('./assets/img/rollo_nova_left.png') no-repeat center;
					background-size: contain;
				}
				.puffy-text {
					font-size: 6rem;
				}
				p {
					font-size: 4rem;
				}
			}
		}

/* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
			.page-ganaste {
				p {
					font-size: 2rem;
				}
				.rollo-der {
					background: url('./assets/img/rollo_nova_right_bolder.png') no-repeat center;
					background-size: contain;
				}
				.rollo-izq {
					background: url('./assets/img/rollo_nova_left_bolder.png') no-repeat center;
					background-size: contain;
				}
			}
		}
