.page-play {
	text-align: center;
	color: color('white');
	.image-hello {
		margin-bottom: 10px;
	}
	.instructions {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.question {
	  font-size: 4rem;
	  line-height: 4rem;
	  margin-bottom: 40px;
	}
	.play-header {
		margin: 15px 0 15px 0;
	}
	.timer-wrapper {
		width: 80px;
		height: 80px;
		overflow: hidden;
	}
	.word-mask {
		list-style: none;
		padding: 0;
		margin: 0 0 40px;
	}
	.word-mask-word:not(:last-child) {
		margin-right: 20px;
	}
	.word-mask-placeholder {
		display: inline-block;
		float: none;
		text-transform: uppercase;
		font-size: 2em;
		margin-right: 2px;
	}
}