<template>
	<div :class="['countdown color-' + color]">
		<img class="countdown-spinner" :src="'./static/img/time_bg_' + safeColor + '.png'">
		<span class="countdown-seconds">{{ seconds }}</span>
	</div>
</template>

<script>
export default {
	props: {
		seconds: {
			type: Number,
			default: 0
		},
		color:  {
			type: String, 
			default: 'turq'
		}
	},
	data () {
		return {
			safeColors: ['purple', 'turq']
		}
	},
	computed: {
		safeColor () {
			return this.safeColors.includes(this.color) ? this.color : this.safeColors[0]
		}
	},
	events: {
		onZero () {

		}
	}
}
</script>

<style lang="scss">

</style>