<template>
  <div class="page-wrapper page-ganaste">
    <headerapp>

    </headerapp>

    <div class="contenedor gradient-pink">

      <div class="container">
        <div class="row">
          <div class="col-xs-offset-3 col-xs-6 hidden-md hidden-lg">
            <img src="../assets/img/novaton_img_win.png" class="center-block">
          </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
              <div class="row">
                <div class="col-xs-2 rollo-win rollo-izq"></div>
                <div class="col-xs-8">
                  <h1 class="puffy-text color-lightpink">Conseguiste 200 Puntos</h1>
                </div>
                <div class="col-xs-2 rollo-win rollo-der"></div>
              </div>
              <div class="row">
                <p>Tienes 300 en total</p>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <button type="button" class="button">Ver Ranking</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-offset-2 col-md-8">
                  <button type="button" class="button btn-orange">Conseguir más puntos</button>
                </div>
              </div>
            </div>
            <div class="col-md-2 hidden-sm">
              <img src="../assets/img/novaton_img_success_2.png" class="center-block">
            </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'

export default {
  name: 'Ganaste',
  components: {headerapp: Header},
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
