<template>
  <header class="header">
    <ul class="header-sponsors" v-if="showSponsors">
      <li>
        <a href="#" target="_blank" class="header-sponsors-nova">
          <img src="../assets/img/logo_nova.png" >
        </a>
      </li>
      <li>
        <a href="#" class="header-sponsors-nova">
          <img src="../assets/img/logo_teleton17.png" >
        </a>
      </li>
    </ul>
  
    <points
    	v-if="showScore"
    	class="header-points"
    	:points="points">
    </points>

    <countdown
    	v-if="showCountdown"
    	class="header-countdown"
    	:seconds="countdownSeconds"
      :color="color">
    </countdown>


    <button type="button" v-if="showMenu" :class="[
    	'navbar-toggle collapsed border-' + color,
    	isMenuExpanded ? 'is-toggled': ''
    ]" data-toggle="collapse" :aria-expanded="isMenuExpanded" @click="toggleMenu">
      <span class="sr-only">Toggle navigation</span>
      <span :class="['icon-bar bg-' + color]"></span>
      <span :class="['icon-bar bg-' + color]"></span>
      <span :class="['icon-bar bg-' + color]"></span>
    </button>

    <nav :class="{
    	'navbar-collapse collapse': true,
    	'in': isMenuExpanded
    }">
      <ul class="nav navbar-nav navbar-right">
        <li class="vcenter">
          <span class="point-counter">
            200
          </span>
          <a href="#" target="_blank">
            <img src="../assets/img/nova_rollo_points.png">
          </a>
        </li>
        <li class="vcenter">
          <a href="#" class="premios">
            Premios
          </a>
        </li>
        <li class="vcenter">
          <a href="#" target="_blank">
            <img src="../assets/img/facebook_logo.png" class="">
          </a>
        </li>
        <li class="vcenter">
          <a href="#" target="_blank">
            <img src="../assets/img/twitter_logo.png" class="">
          </a>
        </li>
        <li class="vcenter">
          <a href="#" target="_blank">
            <img src="../assets/img/youtube_logo.png" class="">
          </a>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import Points from '@/components/Points'
import Countdown from '@/components/Countdown'

export default {
	name: 'Header',
	components: {
		'points': Points,
		'countdown': Countdown
	},
	props: {
	    color: {
	      type: String, 
	      default: 'turq'
	    },
	    countdownSeconds: {
	      type: Number,
	      default: 0
	    },
	    points: {
	      type: Number,
	      default: 0
	    },
	    showBack: {
	      type: Boolean,
	      default: false
	    },
	    showCountdown: {
	      type: Boolean,
	      default: false
	    },
	    showLogo: {
	      type: Boolean,
	      default: false
	    },
	    showMenu: {
	      type: Boolean,
	      default: false
	    },
	    showScore: {
	      type: Boolean,
	      default: false
	    },
	    showSponsors: {
	      type: Boolean,
	      default: false
	    }
  	},
	data () {
		return {
			isMenuExpanded: false
		}
	},
	methods: {
		toggleMenu () {
			this.isMenuExpanded = !this.isMenuExpanded
		}
	}
}
</script>

<style>
</style>
