<template>
	<div class="page-wrapper page-home">
    	<app-header
        :show-sponsors="true"
        :show-menu="true"
      ></app-header>

    	<div class="contenedor bg-turq">
			<div class="container">
				<div>
  				<img src="../assets/img/novaton_img_hello.png" alt="" class="image-hello">
  			</div>
        <img src="../assets/img/novaton_logo_home.png" class="image-big-logo">
        <div class="instructions">
	        <p><strong>Junta puntos Nova completando la mayor cantidad de USOS.</strong></p>

	        <p>Mientras más puntos, más pinturas hechas por los niños de la Teletón compraremos.</p>

	        <p><strong>Los primeros en el ranking final serán los ganadores de estos premios</strong></p>
		    </div>
		    <a 
		    	class="button"
		    	href="play">
		    	Jugar
		    </a>
      </div>

    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'

export default {
	name: 'Home',
	components: {
    'app-header': Header
  }
}
</script>

<style>
</style>
