<template>
  <div class="login">
    <div class="container">
      <img :src="profilePic" alt="">
      <fb-signin-button
        :params="fbSignInParams"
        @success="onSignInSuccess"
        @error="onSignInError">
        Entrar con Facebook
      </fb-signin-button>

      <button
        @click="logout"
        class="btn btn-danger">Salir</button>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import FBSignInButton from 'vue-facebook-signin-button'

Vue.use(FBSignInButton)

export default {
	name: 'Login',
	data () {
		return {
			profilePic: '',
			fbSignInParams: {
			scope: 'email',
			return_scopes: true
			}
		}
	},
	methods: {
		onSignInSuccess (response) {
			let self = this
			FB.api('/me', person => {
				console.log(person)
				self.$store.commit('login', {
					id_facebook: person.id, 
					name_facebook: person.name
				})
			})
		},
		onSignInError (error) {
		  console.log('Error', error)
		},
		logout () {
		  let self = this
		  FB.logout((response) => {
		    console.log(response)
		    self.$store.commit('logout')
		  })
		}
	},
	created () {
		console.log(FB)
		/*FB.api(
			"...?fields={fieldname_of_type_ProfilePictureSource}",
			function (response) {
				console.log(response)
			})*/
	}
}
</script>

<style>

</style>
