<template>
	<div class="page-wrapper page-play">
		<app-header
			:showCountdown="true"
			:showScore="true"
			:countdownSeconds="secondsLeft"
			:points="points"
			:color="colors[currentColor]">
		</app-header>
    	<div class="row play-header">
    		<div class="col-xs-6">
    			
    		</div>
    		<div class="col-xs-6"></div>
    	</div>

    	<div :class="['contenedor', 'gradient-' + colors[currentColor]]">
			<div class="container">
				<div>
      				<img src="../assets/img/don_playing.png" alt="" class="image-don-playing">
      			</div>

      			<div :class="['puffy-text question', 'color-' + colors[currentColor]]">
      				Nova sirve para
      			</div>
				
				<div class="word-mask" v-if="currentWordMask != false">
					<span class="word-mask-word" v-for="(word, i) in currentWordMask.maskedWords">
						<span v-for="(letter, x) in word" class="word-mask-placeholder" click="letterClick(letter)">
							{{ (!letter) ? '_' : letter }}
							<!--<input type="text" v-model="currentWordMask.fullWords[i][x]" style="width: 20px;">-->
							{{ currentWordMask.fullWords[i][x] }}
						</span>
					</span>
				</div>

			    <button 
			    	class="button"
			    	@click="nextWord">
			    	Siguiente
			    </button>

              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
import Header from '@/components/Header'
import axios from 'axios'
import { knuthShuffle } from 'knuth-shuffle'
import words from '@/Words.js'

export default {
	name: 'Play',
	components: {
		'app-header': Header
	},
	data () {
		return {
			colors: ['turq', 'purple', 'pink', 'blue', 'orange'],
			countdown: false,
			currentColor: 0,
			currentDifficulty: 0,
			currentWord: -1,
			currentWordMask: false,
			difficultyIncrementSteps: [
				{
					step: 1,
					seconds: 10,
					difficulty: 10			
				},
				{
					step: 3,
					seconds: 10,
					difficulty: 20			
				},
				{
					step: 5,
					seconds: 9,
					difficulty: 30			
				},
				{
					step: 10,
					seconds: 8,
					difficulty: 40			
				},
				{
					step: 20,
					seconds: 7,
					difficulty: 50			
				},
				{
					step: 30,
					seconds: 5,
					difficulty: 60			
				}
			],
			lastTry: 0,
			initialSeconds: 10,
			isRunning: false,
			mask: ' ',
			minimumHelpLetters: 1,
			pointsPerWord: 50,
			points: 0,
			secondsLeft: 0,
			timeout: false,
			wordsList: [],
			wordsPool: []
		}
	},
	computed: {
		currentWordSplit () {
			return this.currentWord > -1 ? this.wordsPool[this.currentWord].split('') : []
		}
	},
	methods: {
		gameover () {
			this.timeout = true
		},
		// traducir porcentaje a cantidad, segun cantidad
		getDifficultySize (difficulty, size) {
			return Math.ceil((difficulty / 100) * size)
		},
		getDifficultyIncrement (step) {
			for (let pos in this.difficultyIncrementSteps) {
				if (this.difficultyIncrementSteps[pos].step >= step) {
					return this.difficultyIncrementSteps[pos]
				}
			}

			// no hay más dificultad, devolvemos el último paso
			return this.difficultyIncrementSteps[this.difficultyIncrementSteps.length - 1]
		},
		letterClick () {

		},
		loadRandomizedWordPool () {
			this.wordsPool = this.wordsPool.concat(knuthShuffle(this.wordsList.slice(0)))
		},
		getMaskedWord (word) {
			let self = this
			let splitWord = word.split('')
			
			// armar lista de letras únicas
			let uniqueLetters = []
			for (let w in splitWord) {
				if (!uniqueLetters.includes(splitWord[w]) && splitWord[w] != ' ')
					uniqueLetters.push(splitWord[w])
			}

			// randomizar letras unicas para luego removerlas
			knuthShuffle(uniqueLetters)

			// asignar dificultad actual segun última palabra
			this.setDifficulty(this.currentWord + 1)

			// traducir dificultad actual a cantidad de letras a remover
			let removeSize = this.getDifficultySize(this.currentDifficulty, uniqueLetters.length)

			// dejar un minimo de letras
			if ((uniqueLetters.length - removeSize) < this.minimumHelpLetters) 
				removeSize = uniqueLetters.length - this.minimumHelpLetters
			
			// cortar las letras segun dificultad
			let remainingLetters = uniqueLetters.slice(0, uniqueLetters.length - removeSize)
			let removedLetters = uniqueLetters.slice(uniqueLetters.length - removeSize)
			let maskedWord = splitWord.map((letter) => {
				return remainingLetters.includes(letter) || letter == ' ' ? letter : false
			})
			let maskedString = splitWord.map((letter) => {
				return remainingLetters.includes(letter) ? letter : this.mask
			}).join('')

			let maskedWords = [[]]
			for (let i in maskedWord) {
				let letter = maskedWord[i]
				if (letter === ' ')
					maskedWords.push([])	 
				else
					maskedWords[maskedWords.length - 1].push(letter)
			}

			let fullWords = [[]]
			for (let i in splitWord) {
				let letter = maskedWord[i]
				if (letter === ' ')
					fullWords.push([])
				else
					fullWords[fullWords.length - 1].push(letter)
			}


			return {
				word: splitWord,
				maskedWord: maskedWord,
				maskedWords: maskedWords,
				maskedString: maskedString,
				wordString: word,
				remaining: remainingLetters,
				removed: removedLetters,
				fullWords: fullWords
			}
		},
		nextWord () {
			if (!this.isRunning)
				this.startGame()
			else
				this.loadNextWord()
		},
		loadNextWord () {
			// cambiar fondo
			this.currentColor = this.currentColor == this.colors.length - 1 ? 0 : this.currentColor + 1 

			// si llegó al final del batch, vuelvo a cargar el mazo completo desordenado
			if (this.currentWord == this.wordsPool.length - 1)
				this.loadRandomizedWordPool()

			// ubico en siguiente palabra
			this.currentWord++

			// obtener mask
			let maskedWord = this.getMaskedWord(this.wordsPool[this.currentWord])
			this.currentWordMask = maskedWord
		},

		pauseCountdown () {
			this.isRunning = !this.isRunning
		},
		stopCountdown () {
			clearInterval(this.countdown)
		},
		setDifficulty (wordIndex) {
			this.currentDifficulty = wordIndex
			let difficultyStep = this.getDifficultyIncrement(this.currentWord + 1)
			this.currentDifficulty = difficultyStep.difficulty
			this.secondsLeft += difficultyStep.seconds
		},
		startCountdown () {
			this.secondsLeft = this.initialSeconds
			this.isRunning = true
			let self = this
			this.countdown = setInterval(() => {
				if (self.isRunning && self.secondsLeft > 0)
					self.secondsLeft--
				if (self.secondsLeft == 0) {
					this.isRunning = false
					self.gameover()
				}
			}, 1000)
		},
		startGame () {
			// cargas la lista de preguntas
			this.wordsList = knuthShuffle(words.slice(0)) 
			this.wordsPool = this.wordsList.slice(0)

			// saltar a la primera
			this.loadNextWord()

			// jugando
			this.startCountdown()
		}
	},
	created () {
		this.startGame()
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
