<template>
	<div class="points">
		<span :class="['point-counter color-' + color]">
		  {{ points }}
		</span>
		<a href="#" target="_blank">
		  <img src="../assets/img/nova_rollo_points.png">
		</a>		
	</div>
</template> 

<script>
export default {
	props: {
		points: {
			type: Number,
			default: 0
		},
		color: {
			type: String,
			default: 'turq'
		}
	}
}
</script>             

<style></style>