<template>
  <div id="app" class="">
  	<div class="container">
  		<router-view/>	
  	</div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	name: 'app',
	computed: mapState([
  		'isLoggedIn',
  		'local',
  		'id_facebook', 
  		'name_facebook'
  	])
}
</script>

<style lang="scss">
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "assets/scss/app.scss"; 
</style>
